body{
    background: white;
}

h1{
    text-align: center;
    
}
p{
    text-align: center;
    
}

em strong{
    color: blue;
}

#suco {
    font-size: 20px;
}

#img2{
 
 margin-left: auto;
 margin-right: auto;
}

.lista{
text-decoration: underline;
}

.forevis{
    background: whitesmoke;
    padding: 30px;
}

.denovis{
    background: whitesmoke;
    padding: 20px;
}

h2{
    text-align: center;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 5%;

}

.imagemCapa{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}